<?xml version="1.0" encoding="UTF-8"?>
 <beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:jpa="http://www.springframework.org/schema/data/jpa"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/data/jpa
		http://www.springframework.org/schema/data/jpa/spring-jpa-1.2.xsd">
  
  <context:annotation-config />
  
  <context:component-scan base-package="com.service" />   
  <context:component-scan base-package="com.validator" /> 
  <context:component-scan base-package="com.persistence" /> 
  
  	<bean id="computerDataSource" class="com.jolbox.bonecp.BoneCPDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/rappel" />
		<property name="username" value="root" />
		<property name="password" value="root" />
		<property name="idleConnectionTestPeriodInMinutes" value="60" />
		<property name="idleMaxAgeInMinutes" value="240" />
		<property name="maxConnectionsPerPartition" value="10" />
		<property name="minConnectionsPerPartition" value="2" />
		<property name="partitionCount" value="1" />
		<property name="acquireIncrement" value="2" />
		<property name="statementsCacheSize" value="100" />
	</bean>
  
  
    <!-- Spring configuration for JPA -->
    <!-- Adding scan of repositories package -->
    <jpa:repositories base-package="com.persistence" transaction-manager-ref="transactionManager"/>
  
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="computerDataSource" />
		<property name="persistenceUnitName" value="jpaPU" />
		<property name="packagesToScan">
			<list>
				<value>com.entity</value>
			</list>
		</property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
			<!-- For DEV purposes, showSQL true -->
				<property name="showSql" value="true" />
				<property name="generateDdl" value="true" />
				<property name="database" value="MYSQL" />
			</bean>
		</property>
	</bean>
	<!-- Spring configuration for JPA -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>	
    
